.provide {
  &__info {
    li {
      &:before {
        content: '';
        background: url('../../../assets/dot.svg');
        height: 48px;
        width: 48px;
        display: block;
        background-size: cover;
        position: absolute;
        left: -70px;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 1279px) {
          height: 24px;
          width: 24px;
          left: -44px;
        }
      }

      @media (max-width: 719px) {
        font-size: 12px;
      }
    }

    @media (max-width: 1279px) {
      margin-left: 40px;
    }
  }
}
