$max-container-width: 1450px;
$logo-width: 100px;
$auth-buttons-width: 230px;

$color-white: #ffffff;
$color-green: #1bab84;
$color-text: $color-white;
$font-color-primary: #e4c164;
$font-color-secondary: $color-white;