.radio {
  display: flex;
  align-items: center;
  max-width: calc(100% - 10px);

  input {
    &:checked + label {
      border: 1px solid #2666FF;
      background: #02309F;
      border-radius: 8px;
      position: relative;
      z-index: 1;
    }
  }

  label {
    padding: 8px 30px;
    border-radius: 8px;
    border: 1px solid #2666FF;
    background: rgba(2, 48, 159, 0.00);
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 1279px) {
      font-size: 15px;
      padding: 4px 30px;
    }

    @media (max-width: 719px) {
      font-size: 10px;
      padding: 2.5px 30px;
    }
  }
}